NET "CLK" LOC = p181 ;

NET "ENABLE" LOC = p12 ;
NET "UP_DOWN" LOC = p11 ;

NET "COUNTER_OUT[7]" LOC = p102 ;
NET "COUNTER_OUT[6]" LOC = p101 ;
NET "COUNTER_OUT[5]" LOC = p100 ;
NET "COUNTER_OUT[4]" LOC = p97 ;
NET "COUNTER_OUT[3]" LOC = p96 ;
NET "COUNTER_OUT[2]" LOC = p95 ;
NET "COUNTER_OUT[1]" LOC = p94 ;
NET "COUNTER_OUT[0]" LOC = p93 ;

